
html, body{
    height: 100%;
    width: 100%;
}

/* snowfall animation class */
.snowfall{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    pointer-events: none;

    background-image: url('../../static/images/background1.png'), url('../../static/images/background2.png'), url('../../static/images/background3.png');
    animation: snow 30s linear infinite;
}

    /* Initial and final position for background images */
@keyframes snow {
    0%{
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    100%{
        background-position: 600px 1800px, 600px 1200px, 600px 600px;
    }

}

body{
        background-color: black; /*  For demonstration, delete if not needed. */
}
